/* -- GLOBAL -- */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* -- BADGES -- */

.achievementBadge {
  opacity: 1;
  width: 7rem;
}

.badgeInactive {
  opacity: .25;
  width: 12rem;
}

.badgeInactiveSmall {
  /*opacity: .25;*/
  width: 8rem;
}

/*.badge:hover {
    animation: rotate 1.5s infinite;
    animation-direction: alternate;
}*/

#badger {
  padding-top: .6rem;
  opacity: 0.25;
}


.chip {
  background: #fbc02d;
  color #fff;
}
a:link {
    color: #FBC02D;
}

a:visited {
    color: #FBC02D;
}

a:hover {
    color: #FBC02D;
}

a:active {
    color: #FBC02D;
}

/* -- KEYFRAMES -- */

/*@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}*/

/* -- BUTTONS -- */
