/* -- GLOBAL -- */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-footer.yellow.darken-2 {
  margin-top: 0;
}

/* -- BANNER -- */

#index-banner {
  background:
   linear-gradient(
     rgba(0, 0, 0, 0.45),
     rgba(0, 0, 0, 0.45)
   ),
  url('../img/spalsh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-shadow: 0 3px 3px rgba(65, 65, 65, 1);
  text-stroke: #333;
  -moz-box-shadow:    inset 0 0 20px #000;
  -webkit-box-shadow: inset 0 0 20px #000;
  box-shadow:         inset 0 0 20px #000;
}

/* -- BADGES -- */

.achievementBadge {
  opacity: 1;
  width: 7rem;
}

.badgeInactive {
  opacity: .25;
  width: 12rem;
}

.badgeInactiveSmall {
  /*opacity: .25;*/
  width: 8rem;
}

.badge:hover {
    animation: rotate 1.5s;
    animation-direction: alternate;
}

#badger {
  padding-top: .6rem;
  width: 3em;
}


.chip {
  background: #fbc02d;
  color #fff;
}

/* -- AVATAR -- */

.avatarSmall {
  width: 20px;
}

.avatarMedium {
  width: 40px;
}

.avatarLarge {
  width: 60px;
}

.avatar {
  width: 100%;
}
/* -- KEYFRAMES -- */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* -- BUTTONS -- */
