/* -- BADGE ANIMATION -- */

#inactive {
  opacity: .15;
}

.badge:hover {
    animation: rotate 1.5s infinite;
    animation-direction: alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
